@using Microsoft.Extensions.Options
@using PlumPack.Infrastructure
@inject IOptions<PlumPackOptions> Options

<div class="plumpack-brand text-center">
    <a href="@Options.Value.MainSiteUrl">
      <img src="~/assets/images/plum-96.png" /><span class="first">Plum</span><span class="second">Pack</span>
    </a>
</div>