<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/assets/styles.css"/>
    <script type="text/javascript" src="~/assets/scripts.js"></script>
</head>
<body>
<div class="navbar navbar-light">
    <div class="container">
        <partial name="_Brand"></partial>
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    Hello @User.Identity.Name, <a asp-controller="Logout" asp-area="">Logout</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="Login" asp-area="">Login</a>
                </li>
            }
        </ul>
    </div>
</div>
<partial name="_SiteAlerts"></partial>
<div class="main">
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</div>
@RenderSection("Scripts", required: false)
</body>
</html>